<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PathfinderUnitedTheraEntities" connectionString="metadata=res://*/PathfinderUnitedTheraModel.csdl|res://*/PathfinderUnitedTheraModel.ssdl|res://*/PathfinderUnitedTheraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTINGDB1\TADEVSQL08;initial catalog=PF_UnitedThera;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>